* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
}

.logo {
    margin-left: 35px;
    margin-top: 35px;
}

.logo__img {
    width: 36%;
}

.register__container {
    width: 80%;
    margin: auto;
    margin-top: 55px;
}

.register__img {
    width: 100%;
}

.register__tittle {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}

.register__text {
    text-align: center;
    line-height: 1.5;
}

.register__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}

.register__button {
    font-family: 'Poppins';
    font-size: 12px;
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.4);
    margin-top: 25px;
    margin-bottom: 60px;
    outline: none;
}

.social__media {
    margin-bottom: 35px;
}

.social__list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social__img {
    width: 30px;
    margin-right: 10px;
}


/*Media Query*/

@media (min-width: 768px) {

    .logo__img {
        width: 25%;
    }

    .register__container {
        width: 65%;
    }

    .register__button {
        width: 60%;
    }

    .social__img {
        width: 40px;
    }
}

@media (min-width: 1024px) {
    body {
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
    }

    .logo {
        margin-left: 40px;
    }

    .logo__img {
        width: 18%;
    }

    .register__container {
        display: flex;
        width: 90%;
    }

    .register__intro {
        width: 43%;
        margin-left: 35px;
    }

    .social__media {
        margin-bottom: 30px;
        margin-right: 50px;
    }

    .social__list {
        justify-content: flex-end;
    }
}

@media (min-width: 1440px) {

    body {
        background-size: contain;
    }

    .logo {
        margin-left: 70px;
        margin-top: 55px;
    }

    .logo__img {
        width: 15%;
    }

    .register__container {
        margin-top: 82px;
        margin-bottom: 20px;
    }

    .register__intro {
        width: 40%;
        margin-left: 52px;
        align-items: flex-start;
        margin-top: 40px;
    }

    .register__tittle {
        font-size: 40px;
        text-align: initial;
    }

    .register__text {
        text-align: initial;
        font-size: 18px;
    }

    .register__button {
        font-size: 16px;
        padding: 15px;
        border-radius: 30px;
        width: 40%;
        box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.87);
    }

    .social__media {
        margin-bottom: 35px;
        margin-right: 70px;
    }

    .social__img {
        width: 42px;
        margin-right: 14px;
    }

    
}
